@{
	ViewBag.Title = "Заказ создан";
}
@model long
<div class="text-center">
	<h2>Спасибо!</h2>
	<p>Заказ @Model успешно создан.</p>
	<a class="btn btn-primary" asp-controller="Home" asp-action="Index">На главную</a>
</div>