@{
    ViewBag.Title = "Главная";
}

    <div class="row justify-content-evenly">
        <a class="col-2 btn btn-primary text-center mx-auto" asp-controller="order" asp-action="index">Список заказов</a>
        <a class="col-2 btn btn-primary text-center mx-auto" asp-controller="order" asp-action="create">Создать заказ</a>
    </div>

